In [1]:
import pandas as pd
import numpy as np

In [13]:
fred = pd.read_csv(r"./data/FRED/FRED3_Entire_Database_2021.csv", low_memory=False, header=0, skiprows=range(1, 10), encoding="latin1")
meta = pd.read_csv(r"./data/FRED/FRED3_Column_Definitions_2021.csv", usecols=["column_id", "name", "units"], index_col="column_id")
lookup = pd.read_csv(r"./data/plantlookup.csv", low_memory=False, encoding="latin1", index_col=0)

In [3]:
COLLABORATION_GRADIENT_TRAITS = [
    "F00679", # RD
    "F00727", # SRL
    "F00718", #	Specific root area (SRA)
    "F00104", # RCT
    "F00622", # Mycorrhiza_Fraction root length colonized by AM mycorrhizae
    "F00626", # Mycorrhiza_Fraction root length colonized by EM mycorrhizae
    "F00638", # Mycorrhiza_Fraction of root length
    "F00645"  # Mycorrhiza_Type_Data
]

CONSERVATION_GRADIENT_TRAITS = [
    "F00709", # RTD
    "F00277", #	Root P content
    "F00261", # Root N content
    "F00358"  # Root lignin content
]

In [4]:
# meta[meta.name.str.contains("taxonomy")]

In [28]:
lookup

                     family        order          group
genus
Acorus            Acoraceae     Acorales    Angiosperms
Albidella      Alismataceae  Alismatales    Angiosperms
Alisma         Alismataceae  Alismatales    Angiosperms
Astonia        Alismataceae  Alismatales    Angiosperms
Baldellia      Alismataceae  Alismatales    Angiosperms
...                     ...          ...            ...
Ugena           Lygodiaceae  Schizaeales  Pteridophytes
Actinostachys  Schizaeaceae  Schizaeales  Pteridophytes
Lophidium      Schizaeaceae  Schizaeales  Pteridophytes
Microschizaea  Schizaeaceae  Schizaeales  Pteridophytes
Schizaea       Schizaeaceae  Schizaeales  Pteridophytes

[23279 rows x 3 columns]

In [5]:
meta.query("name.str.contains('N', case=True)")

                                                        name   units
column_id
F00002                                          Notes_Row ID     NaN
F00008                                         Notes_Site ID     NaN
F00027                      Notes_Single or multiple species     NaN
F00059                Notes_Root order classification scheme     NaN
F00065                Notes_Method of determining dead roots     NaN
...                                                      ...     ...
F01458     SE_Root N uptake_Hourly uptake of molar NH4+ p...  mg/g/h
F01459        Root N uptake_Hourly NO3- uptake per root mass  mg/g/h
F01460     SE_Root N uptake_Hourly NO3- uptake per root mass  mg/g/h
F01466                                      n_Soil N content     NaN
F01474                       n_Soil Na_Exchangeable Na+ mass     NaN

[183 rows x 2 columns]

In [61]:
fred.columns[fred.columns.str.contains("282")]

Index(['F00282'], dtype='object')

In [64]:
fred.F00645.isna().mean()

np.float64(0.8291484525266655)

In [38]:
meta.loc[meta.name.str.contains("Mycorrhiza_Fraction "), "name"]

column_id
F00609    Mycorrhiza_Fraction contact exploration mycorr...
F00610    SE_Mycorrhiza_Fraction contact exploration myc...
F00611    Mycorrhiza_Fraction long-distance exploration ...
F00612    SE_Mycorrhiza_Fraction long-distance explorati...
F00613    Mycorrhiza_Fraction medium-distance exploratio...
F00615    Mycorrhiza_Fraction short-distance exploration...
F00616    SE_Mycorrhiza_Fraction short-distance explorat...
F00617    Mycorrhiza_Fraction mycorrhizal root tips that...
F00619    Mycorrhiza_Fraction root tips colonized by myc...
F00620    n_Mycorrhiza_Fraction root tips colonized by m...
F00621    SE_Mycorrhiza_Fraction root tips colonized by ...
F00622    Mycorrhiza_Fraction root length colonized by A...
F00623    n_Mycorrhiza_Fraction root length colonized by...
F00624    SE_Mycorrhiza_Fraction root length colonized b...
F00625    SD_Mycorrhiza_Fraction root length colonized b...
F00626    Mycorrhiza_Fraction root length colonized by E...
F00628    SE_Mycorrhiza_Fraction root length colonized b...
F00638                   Mycorrhiza_Fraction of root length
F00639                 n_Mycorrhiza_Fraction of root length
F00640                SE_Mycorrhiza_Fraction of root length
F01306                SD_Mycorrhiza_Fraction of root length
F01441    Median_Mycorrhiza_Fraction root length coloniz...
F01442    Upper quartile_Mycorrhiza_Fraction root length...
F01443    Lower quartile_Mycorrhiza_Fraction root length...
Name: name, dtype: object

In [42]:
meta.loc["F00638", "name"]

'Mycorrhiza_Fraction of root length'

In [83]:
fred.shape

(57190, 1164)

In [6]:
# root traits of interest - 
# F00056 - root order

fred.loc[:, ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS + 
                    CONSERVATION_GRADIENT_TRAITS].query("F00056.isin((1, 2, 3))")  # only choosing 1st, 2nd and 3rd order roots

,F00018,F00019,F00056,F00679,F00727,F00718,F00104,F00622,F00626,F00638,F00645,F00709,F00277,F00261,F00358
0,Dicranopteris,dichotoma,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
1,Dicranopteris,dichotoma,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
2,Dicranopteris,dichotoma,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
3,Cunninghamia,lanceolata,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
4,Cunninghamia,lanceolata,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57145,Vitis,vinifera,2.0,0.175183,0.0125,NaN,NaN,53.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57146,Vitis,vinifera,3.0,0.260983,0.0087,NaN,NaN,31.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57149,Vitis,vinifera,1.0,0.162800,0.0591,NaN,NaN,56.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57150,Vitis,vinifera,2.0,0.213133,0.0214,NaN,NaN,51.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57151,Vitis,vinifera,3.0,0.310233,0.0079,NaN,NaN,46.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fred.loc[:, ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS + CONSERVATION_GRADIENT_TRAITS].\
    query("F00056.isin((1, 2, 3))").isna().mean()

F00018    0.036351
F00019    0.070182
F00056    0.000000
F00679    0.325535
F00727    0.704877
F00718    0.959690
F00104    0.950693
F00622    0.992442
F00626    0.999640
F00638    0.993702
F00645    0.791794
F00709    0.780997
F00277    0.976606
F00261    0.716394
F00358    1.000000
dtype: float64

In [ ]:
# root diamater and specific root length !!!!!!!!

# THAT'S DISAPPOINTING :/

with pd.option_context("display.max_rows", None):
    print(
        fred.loc[np.where(fred.loc[:, ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS +
    CONSERVATION_GRADIENT_TRAITS].query("F00056.isin((1, 2, 3))").\
        isna().mean(axis=1) < 0.50)[0], ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS + CONSERVATION_GRADIENT_TRAITS]
    )

In [37]:
fred.query("F00018 == \"x Citrofortunella\"").loc[:, ["F00018", "F00019"]]

                  F00018 F00019
56209  x Citrofortunella    NaN
56210  x Citrofortunella    NaN
56211  x Citrofortunella    NaN
56212  x Citrofortunella    NaN
56213  x Citrofortunella    NaN
56214  x Citrofortunella    NaN
56215  x Citrofortunella    NaN
56216  x Citrofortunella    NaN
56217  x Citrofortunella    NaN
56218  x Citrofortunella    NaN
56219  x Citrofortunella    NaN
56220  x Citrofortunella    NaN
56221  x Citrofortunella    NaN
56222  x Citrofortunella    NaN
56223  x Citrofortunella    NaN
56224  x Citrofortunella    NaN
56225  x Citrofortunella    NaN
56226  x Citrofortunella    NaN
56227  x Citrofortunella    NaN
56228  x Citrofortunella    NaN
56229  x Citrofortunella    NaN
56230  x Citrofortunella    NaN
56231  x Citrofortunella    NaN
56232  x Citrofortunella    NaN
56233  x Citrofortunella    NaN
56234  x Citrofortunella    NaN
56235  x Citrofortunella    NaN
56236  x Citrofortunella    NaN
56237  x Citrofortunella    NaN
56238  x Citrofortunella    NaN
56239  x Citrofortunella    NaN
56240  x Citrofortunella    NaN
56241  x Citrofortunella    NaN
56242  x Citrofortunella    NaN
56243  x Citrofortunella    NaN
56244  x Citrofortunella    NaN
56245  x Citrofortunella    NaN
56246  x Citrofortunella    NaN
56247  x Citrofortunella    NaN
56248  x Citrofortunella    NaN
56249  x Citrofortunella    NaN
56250  x Citrofortunella    NaN
56251  x Citrofortunella    NaN
56252  x Citrofortunella    NaN
56253  x Citrofortunella    NaN
56254  x Citrofortunella    NaN
56255  x Citrofortunella    NaN
56256  x Citrofortunella    NaN
56257  x Citrofortunella    NaN
56258  x Citrofortunella    NaN
56259  x Citrofortunella    NaN
56260  x Citrofortunella    NaN
56261  x Citrofortunella    NaN
56262  x Citrofortunella    NaN
56263  x Citrofortunella    NaN
56264  x Citrofortunella    NaN
56265  x Citrofortunella    NaN
56266  x Citrofortunella    NaN
56267  x Citrofortunella    NaN
56268  x Citrofortunella    NaN

In [39]:
FRED_MISSPELT_GENERA = { # TF?????
     "Aglaria": "Aglaia",
     "Aporusa": "Aporosa",
     "Artrocarpus": "Artocarpus",
     "Atrocarpus": "Artocarpus",
     "Brosimun": "Brosimum",
     "Diospyrus": "Diospyros",
     "Gletitsia": "Gleditsia",
     "Parakmeria": "Magnolia", # synonym for Magnolia lotungensis
     "Paramichelia": "Magnolia", # synonym for Magnolia baillonii
     "Polyanthia": "Polyalthia",
     "Tabebuis": "Tabebuia",
     "Tabernamontana": "Tabernaemontana"
}

LOOKUP_MISSING_GENERA = {
    "Carrizo": "Rutaceae",
    "Cuoropita": "Lecythidaceae",
    "Tsoongiodendron": "Magnoliaceae",
    "Schizonepeta": "Lamiaceae",
    "Schyzolobium": "Fabaceae",
    "Swingle": "Rutaceae",
    "x Citrofortunella": "Rutaceae"
}

In [64]:
FAMILY_LOOKUP_TABLE = pd.Series(
    index=np.concatenate([lookup.index.values, list(LOOKUP_MISSING_GENERA.keys())]),
    data=np.concatenate([lookup.family.values, list(LOOKUP_MISSING_GENERA.values())])
)

In [65]:
FAMILY_LOOKUP_TABLE

Acorus                  Acoraceae
Albidella            Alismataceae
Alisma               Alismataceae
Astonia              Alismataceae
Baldellia            Alismataceae
                         ...
Tsoongiodendron      Magnoliaceae
Schizonepeta            Lamiaceae
Schyzolobium             Fabaceae
Swingle                  Rutaceae
x Citrofortunella        Rutaceae
Length: 23286, dtype: object

## ___Root diameter___
----------------------

In [87]:
fred_fine_root_diameter = fred.loc[:, ["F00017", "F00018", "F00019", "F00056", "F00679"]].\
                                    query("F00056.isin((1, 2, 3))").dropna(subset=["F00018", "F00679"])

# spelling correction
fred_fine_root_diameter.F00018 = fred_fine_root_diameter.F00018.apply(lambda genus:\
                                     FRED_MISSPELT_GENERA.get(genus) if\
                                         FRED_MISSPELT_GENERA.get(genus, None) else genus)

# update the family info
fred_fine_root_diameter.F00017 = FAMILY_LOOKUP_TABLE[fred_fine_root_diameter.F00018.str.strip()].values

In [88]:
fred_fine_root_diameter

            F00017    F00018     F00019  F00056    F00679
66     Sapindaceae      Acer  saccharum     1.0  3.270000
67     Sapindaceae      Acer  saccharum     2.0  0.450000
68     Sapindaceae      Acer  saccharum     3.0  0.240000
73        Oleaceae  Fraxinus  americana     1.0  4.830000
74        Oleaceae  Fraxinus  americana     2.0  0.670000
...            ...       ...        ...     ...       ...
57145     Vitaceae    Vitis    vinifera     2.0  0.175183
57146     Vitaceae    Vitis    vinifera     3.0  0.260983
57149     Vitaceae    Vitis    vinifera     1.0  0.162800
57150     Vitaceae    Vitis    vinifera     2.0  0.213133
57151     Vitaceae    Vitis    vinifera     3.0  0.310233

[3674 rows x 5 columns]

In [82]:
fred_fine_root_diameter.groupby(["F00017", "F00018"]).count()

                              F00019  F00056  F00679
F00017         F00018
Acanthaceae    Strobilanthes       1       1       1
Actinidiaceae  Actinidia           1       1       1
Adoxaceae      Sambucus           58      58      58
Altingiaceae   Altingia            6       6       6
               Liquidambar         8       8       8
...                              ...     ...     ...
Vitaceae       Vitis               9       9       9
Zingiberaceae  Alpinia             1       1       1
               Amomum              1       1       1
Zygophyllaceae Bulnesia            1       1       1
               Guaiacum            1       1       1

[320 rows x 3 columns]

## ___Specific Root Length (SRL)___
---------------------

In [90]:
fred_fine_root_specific_root_length = fred.loc[:, ["F00017", "F00018", "F00019", "F00056", "F00727"]].\
                                            query("F00056.isin((1, 2, 3))").dropna(subset=["F00018", "F00727"])

# spelling corrections for genus names
fred_fine_root_specific_root_length.F00018 = fred_fine_root_specific_root_length.F00018.apply(lambda genus:\
                                     FRED_MISSPELT_GENERA.get(genus) if\
                                         FRED_MISSPELT_GENERA.get(genus, None) else genus)

# update the families
fred_fine_root_specific_root_length.F00017 = FAMILY_LOOKUP_TABLE[fred_fine_root_specific_root_length.\
                                                    F00018.str.strip()].values

In [92]:
fred_fine_root_specific_root_length

             F00017   F00018     F00019  F00056   F00727
18      Sapindaceae     Acer    negundo     1.0  44.5000
19      Sapindaceae     Acer     rubrum     1.0  46.2000
20      Sapindaceae     Acer  saccharum     1.0  45.1000
21     Juglandaceae    Carya     glabra     1.0  91.0000
22     Juglandaceae  Juglans      nigra     1.0  20.2000
...             ...      ...        ...     ...      ...
57145      Vitaceae   Vitis    vinifera     2.0   0.0125
57146      Vitaceae   Vitis    vinifera     3.0   0.0087
57149      Vitaceae   Vitis    vinifera     1.0   0.0591
57150      Vitaceae   Vitis    vinifera     2.0   0.0214
57151      Vitaceae   Vitis    vinifera     3.0   0.0079

[1616 rows x 5 columns]

In [97]:
fred_fine_root_specific_root_length.groupby(["F00017", "F00018"]).count()

                              F00019  F00056  F00727
F00017        F00018
Acanthaceae   Strobilanthes        1       1       1
Actinidiaceae Actinidia            1       1       1
Adoxaceae     Sambucus             4       4       4
Altingiaceae  Altingia             6       6       6
              Liquidambar          8       8       8
...                              ...     ...     ...
Vitaceae      Parthenocissus       1       1       1
              Vitis                2       2       2
              Vitis                9       9       9
Zingiberaceae Alpinia              1       1       1
              Amomum               1       1       1

[246 rows x 3 columns]