In [2]:
import pandas as pd
import numpy as np

In [16]:
fred = pd.read_csv(r"./data/FRED/FRED3_Entire_Database_2021.csv", low_memory=False, header=0,
                  skiprows=range(1, 10), encoding="latin1")
meta = pd.read_csv(r"./data/FRED/FRED3_Column_Definitions_2021.csv", usecols=["column_id", "name",
                    "units"], index_col="column_id")
lookup = pd.read_csv(r"./data/plantlookup.csv", low_memory=False, encoding="latin1")

In [6]:
COLLABORATION_GRADIENT_TRAITS = [
    "F00679", # RD
    "F00727", # SRL
    "F00718", #	Specific root area (SRA)
    "F00104", # RCT
    "F00622", # Mycorrhiza_Fraction root length colonized by AM mycorrhizae
    "F00626", # Mycorrhiza_Fraction root length colonized by EM mycorrhizae
    "F00638", # Mycorrhiza_Fraction of root length
    "F00645"  # Mycorrhiza_Type_Data
]

CONSERVATION_GRADIENT_TRAITS = [
    "F00709", # RTD
    "F00277", #	Root P content
    "F00261", # Root N content
    "F00358"  # Root lignin content
]

In [15]:
meta[meta.name.str.contains("taxonomy")]

                                             name units
column_id
F00017          Plant taxonomy_Family_Data source   NaN
F00018           Plant taxonomy_Genus_Data Source   NaN
F00019         Plant taxonomy_Species_Data source   NaN
F00020      Plant taxonomy_Subspecies_Data source   NaN
F01286          Plant taxonomy_Accepted genus_TPL   NaN
F01289         Plant taxonomy_Accepted family_TPL   NaN
F01290          Plant taxonomy_Accepted order_APW   NaN
F01291          Plant taxonomy_Accepted group_TPL   NaN
F01413     Plant taxonomy_Species name unresolved   NaN

In [75]:
meta.loc[meta.name.str.contains("N", case=True), "name"]

column_id
F00002                                         Notes_Row ID
F00008                                        Notes_Site ID
F00027                     Notes_Single or multiple species
F00059               Notes_Root order classification scheme
F00065               Notes_Method of determining dead roots
                                ...
F01458    SE_Root N uptake_Hourly uptake of molar NH4+ p...
F01459       Root N uptake_Hourly NO3- uptake per root mass
F01460    SE_Root N uptake_Hourly NO3- uptake per root mass
F01466                                     n_Soil N content
F01474                      n_Soil Na_Exchangeable Na+ mass
Name: name, Length: 183, dtype: object

In [61]:
fred.columns[fred.columns.str.contains("282")]

Index(['F00282'], dtype='object')

In [64]:
fred.F00645.isna().mean()

np.float64(0.8291484525266655)

In [38]:
meta.loc[meta.name.str.contains("Mycorrhiza_Fraction "), "name"]

column_id
F00609    Mycorrhiza_Fraction contact exploration mycorr...
F00610    SE_Mycorrhiza_Fraction contact exploration myc...
F00611    Mycorrhiza_Fraction long-distance exploration ...
F00612    SE_Mycorrhiza_Fraction long-distance explorati...
F00613    Mycorrhiza_Fraction medium-distance exploratio...
F00615    Mycorrhiza_Fraction short-distance exploration...
F00616    SE_Mycorrhiza_Fraction short-distance explorat...
F00617    Mycorrhiza_Fraction mycorrhizal root tips that...
F00619    Mycorrhiza_Fraction root tips colonized by myc...
F00620    n_Mycorrhiza_Fraction root tips colonized by m...
F00621    SE_Mycorrhiza_Fraction root tips colonized by ...
F00622    Mycorrhiza_Fraction root length colonized by A...
F00623    n_Mycorrhiza_Fraction root length colonized by...
F00624    SE_Mycorrhiza_Fraction root length colonized b...
F00625    SD_Mycorrhiza_Fraction root length colonized b...
F00626    Mycorrhiza_Fraction root length colonized by E...
F00628    SE_Mycorrhiza_Fraction root length colonized b...
F00638                   Mycorrhiza_Fraction of root length
F00639                 n_Mycorrhiza_Fraction of root length
F00640                SE_Mycorrhiza_Fraction of root length
F01306                SD_Mycorrhiza_Fraction of root length
F01441    Median_Mycorrhiza_Fraction root length coloniz...
F01442    Upper quartile_Mycorrhiza_Fraction root length...
F01443    Lower quartile_Mycorrhiza_Fraction root length...
Name: name, dtype: object

In [42]:
meta.loc["F00638", "name"]

'Mycorrhiza_Fraction of root length'

In [83]:
fred.shape

(57190, 1164)

In [80]:
# root traits of interest - 
# F00056 - root order

fred.loc[:, ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS + 
    CONSERVATION_GRADIENT_TRAITS].query("F00056.isin((1, 2, 3))")

,F00018,F00019,F00056,F00679,F00727,F00718,F00104,F00622,F00626,F00638,F00645,F00709,F00277,F00261,F00358
0,Dicranopteris,dichotoma,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
1,Dicranopteris,dichotoma,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
2,Dicranopteris,dichotoma,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
3,Cunninghamia,lanceolata,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
4,Cunninghamia,lanceolata,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57145,Vitis,vinifera,2.0,0.175183,0.0125,NaN,NaN,53.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57146,Vitis,vinifera,3.0,0.260983,0.0087,NaN,NaN,31.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57149,Vitis,vinifera,1.0,0.162800,0.0591,NaN,NaN,56.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57150,Vitis,vinifera,2.0,0.213133,0.0214,NaN,NaN,51.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57151,Vitis,vinifera,3.0,0.310233,0.0079,NaN,NaN,46.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
fred.loc[:, ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS +
    CONSERVATION_GRADIENT_TRAITS].query("F00056.isin((1, 2, 3))").\
        isna().mean()

F00018    0.036351
F00019    0.070182
F00056    0.000000
F00679    0.325535
F00727    0.704877
F00718    0.959690
F00104    0.950693
F00622    0.992442
F00626    0.999640
F00638    0.993702
F00645    0.791794
F00709    0.780997
F00277    0.976606
F00261    0.716394
F00358    1.000000
dtype: float64

In [ ]:
# root diamater and specific root length !!!!!!!!

# THAT'S DISAPPOINTING :/

with pd.option_context("display.max_rows", None):
    print(
        fred.loc[np.where(fred.loc[:, ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS +
    CONSERVATION_GRADIENT_TRAITS].query("F00056.isin((1, 2, 3))").\
        isna().mean(axis=1) < 0.50)[0], ["F00018", "F00019", "F00056"] + COLLABORATION_GRADIENT_TRAITS + CONSERVATION_GRADIENT_TRAITS]
    )

## ___Root diameter___
----------------------

In [24]:
fred.loc[:, ["F00017", "F00018", "F00019", "F00056", "F00679"]].\
            query("F00056.isin((1, 2, 3)) & (not F00679.isna())")

      F00017    F00018     F00019  F00056    F00679
66       NaN      Acer  saccharum     1.0  3.270000
67       NaN      Acer  saccharum     2.0  0.450000
68       NaN      Acer  saccharum     3.0  0.240000
73       NaN  Fraxinus  americana     1.0  4.830000
74       NaN  Fraxinus  americana     2.0  0.670000
...      ...       ...        ...     ...       ...
57145    NaN    Vitis    vinifera     2.0  0.175183
57146    NaN    Vitis    vinifera     3.0  0.260983
57149    NaN    Vitis    vinifera     1.0  0.162800
57150    NaN    Vitis    vinifera     2.0  0.213133
57151    NaN    Vitis    vinifera     3.0  0.310233

[3748 rows x 5 columns]

## ___Specific Root Length (SRL)___
---------------------

In [28]:
fred.loc[:, ["F00017", "F00018", "F00019", "F00056", "F00727"]].\
            query("F00056.isin((1, 2, 3)) & (not F00727.isna())")

             F00017   F00018     F00019  F00056   F00727
18        Aceraceae     Acer    negundo     1.0  44.5000
19        Aceraceae     Acer     rubrum     1.0  46.2000
20        Aceraceae     Acer  saccharum     1.0  45.1000
21     Juglandaceae    Carya     glabra     1.0  91.0000
22     Juglandaceae  Juglans      nigra     1.0  20.2000
...             ...      ...        ...     ...      ...
57145           NaN   Vitis    vinifera     2.0   0.0125
57146           NaN   Vitis    vinifera     3.0   0.0087
57149           NaN   Vitis    vinifera     1.0   0.0591
57150           NaN   Vitis    vinifera     2.0   0.0214
57151           NaN   Vitis    vinifera     3.0   0.0079

[1640 rows x 5 columns]